.container_exercise_id
    width:  100%
    //height: 100vh
    .title_exercise_id
        display: flex
        flex-direction: row
        justify-content: center
        padding-top: 40px
        h2
            color: #fff
            display: inline-block
            border-bottom: 2px solid #fff
            margin: auto
            padding: 0 150px 10px 150px
            font-weight: normal
    .container_info_exercise_id
        display: flex
        flex-direction: row
        justify-content: space-between
        flex-wrap: wrap
        padding-top: 30px
        padding-bottom: 30px
        width: 90%
        height: 100%
        margin: auto
        .container_images_exercise_id
            width: 100%
            height: 300px
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: space-between
            margin-bottom: 30px
            img
                width: 30%
                height: 100%
        .container_description_exercise_id
            width: 40%
            height: 300px
            display: flex
            flex-direction: column
            justify-content: center
            p
                color: #fff
                text-align: center
        .container_video
            width: 40%
            height: 300px
            iframe
                width: 100%
                height: 100%